.create-new {
    width: 1000px;
    margin: auto;
}

#card-color {
    margin-bottom: 30px;
}

#card-color input[type="color"] {
    width: 100%;
    height: 50px;
}

.card-container {
    position: relative;
    width: 100%;
    height: 200px;
    /* background: rgb(220, 255, 199);*/
}

.thecard {
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* background: #67a4f3; */
    /* color: #333; */
}

.theback {
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: auto;
    backface-visibility: hidden;
    /* background: #f3bb67; */
    /* color: #333; */
    transform: rotateY(180deg);
}

.thecard:active {
    transform: rotateY(180deg);
}

.thefront h3 {
    text-align: center;
    margin-top: 50px;
}

.theback p {
    text-align: center;
    padding: 20px;
    margin-top: 15px;
}

.fade-out {
    opacity: 0;
}

.card-title {
    position: relative;
    top: -20%;
}
